//****************
//COLORS
//****************

$color_carminePink:#ef6f6c;
$color_carminePinkDark:#EF4340;
$color_topaz: #f2c57c;
$color_tumbleweed: #ddae7e;
$color_seagreen: #7fb685;
$color_amazon: #426a5a;
$color_white: #ddd;
$color_black: #222;
$color_darkgray: #444;

//****************
//FONT-SIZES
//****************

$font_XXS: 0.85rem;
$font_XS: 0.9rem;
$font_S: 1.1rem;
$font_M: 1.5rem;
$font_L: 1.75rem;
$font_XL: 2rem;
$font_XXL: 2.6rem;
$font_XXXL: 3.7rem;

//****************
//BREAKING POINTS
//****************

$breakpointLaptop: 1075px;
$breakpointTablet: 708px;
$breakpointMobile: 600px;